# secret test data
testDataCOICOP.csv
coicop_dev.json
coicop_test.json
coicop_train.json
dev_coicop.csv
test_coicop.csv
train_coicop.csv
cat_mapping.json
unorganized_folder/dataframe_dataset.txt

# big models
XLMR-ENIS-model/
fastext_model.bin
fasttext_is_rmh/
isl_fasttext_rmh_fb-finetuned-coicop.bin
isl_fasttext_rmh_fb.bin
isl_fasttext_rmh_fb.vec
isl_2_fasttext_rmh_fb.vec
fast_text_is_skipgram_dim300.bin
isl_fast_text_skipgram_dim300.vec
isl_fast_text_skipgram_dim300_vec-finetuned-coicop.bin
isl_fasttext100_rmh_fb-finetuned-coicop.bin
isl_fasttext2_rmh_fb-finetuned-coicop.bin
my_dumped_naive_bayes_classifier.joblib.pkl


# lots of outputs
geymsla_f_outputs/